<% if (user){ %>
		<% var profits= []; var losses = []; %>
		<% for (var i = 0; i < user.investments.length; i ++) { %>
			<% if (user.investments[i].pricePerItemInvested <= user.investments[i].currentPricePerItem) { %>
			<% profits.push(user.investments[i]); %>
			<% } else { %>
			<% losses.push(user.investments[i]); %>
			<% } %>
		<% } %>
	<% }%>
<% if (user){ %>
	<div class = "col-2 mt-5">
		<% for (var i = 0; i < profits.length; i ++) { %>
			<div class = "container border border-success mb-2 profits">
				<div class = "row justify-content-between">
					<div class = "col-4">
						<div style = "font-size: 12px; font-weight: 800">
							<%=profits[i].name%>
						</div>
						<a href = "/item/data/<%=profits[i].name.split(" ").join("_").toLowerCase()%>">
							<img src = "/images/small/<%=profits[i].id%>.gif" title = "<%=profits[i].name%>">
						</a>
						x<%=profits[i].numInvested%>
						<form class = "deleteitem" method = POST data-item-id = "<%= profits[i]._id %>">
							<button class="btn btn-dark">
								<i class="fa fa-trash"></i>
							</button>
						</form>
						
					</div>
					<div class = "col-8" style = "font-size: 12px">
						<div>
							<div style = "color : green; font-weight: 700"> 
								+<%=profits[i].currentPricePerItem * profits[i].numInvested - profits[i].pricePerItemInvested * profits[i].numInvested%>
							</div>
							<div>
								gp ea. <%=profits[i].pricePerItemInvested%> -> <%=profits[i].currentPricePerItem%>
							</div>
							<div>
								total <%=profits[i].pricePerItemInvested * profits[i].numInvested%> -> <%=profits[i].currentPricePerItem * profits[i].numInvested%>
							</div>
							<div>
								gains: <%=profits[i].currentPricePerItem * profits[i].numInvested - profits[i].pricePerItemInvested * profits[i].numInvested%>
							</div>
							<div>
								invested in: <%=profits[i].dateInvested.toDateString().substring(4)%>
							</div>
							<div>
								price updated:
								<%= Math.floor((new Date().valueOf() - profits[i].lastUpdated.valueOf() ) / (1000 * 60 * 60 * 24)) %> d,
								<%= Math.floor(Math.floor((new Date().valueOf() - profits[i].lastUpdated.valueOf() ) % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)) %> h ago
							</div>
						</div>
					</div>
				</div>
			</div>
		<% } %>
	</div>
<% }%>

