<% if (user){ %>
		<% var profits= []; var losses = []; %>
		<% for (var i = 0; i < user.investments.length; i ++) { %>
			<% if (user.investments[i].pricePerItemInvested <= user.investments[i].currentPricePerItem) { %>
			<% profits.push(user.investments[i]); %>
			<% } else { %>
			<% losses.push(user.investments[i]); %>
			<% } %>
		<% } %>
	<% }%>
<% if (user){ %>
	<div class = "col-2">
		<% for (var i = 0; i < profits.length; i ++) { %>
			<div class = "container">
				<div class = "row justify-content-between">
					<div class = "col-4">
						x<%=profits[i].numInvested%>
						<img src = "/images/small/<%=profits[i].id%>.gif" title = "<%=profits[i].name%>">
						<%= Math.floor( (new Date().valueOf() - profits[i].dateInvested.valueOf() ) / (1000 * 60 * 60 * 24) )%> days ago
					</div>
					<div class = "col-8">
						<div>
							gp ea. <%=profits[i].pricePerItemInvested%> -> <%=profits[i].currentPricePerItem%>
							total <%=profits[i].pricePerItemInvested * profits[i].numInvested%> -> <%=profits[i].currentPricePerItem * profits[i].numInvested%>
							gains: <%=profits[i].currentPricePerItem * profits[i].numInvested - profits[i].pricePerItemInvested * profits[i].numInvested%>
							<%= Math.floor( (new Date().valueOf()  - profits[i].lastUpdated.valueOf() ) / (1000 * 60 * 60 * 24) )%> days ago
						</div>
					</div>
				</div>
			</div>
		<% } %>
	</div>
<% }%>