<% include ./partials/header.ejs %>

<div class = "container-fluid">
	<div class = "row">
		<div class = "col-3" id = "optionContainer"> 
			
		</div>
		<div class = "col-6" id = "mainContainer">
			<div class = "text-right">
				<small class="text-muted">
					last updated:
					<%= Math.floor((new Date().valueOf() - dateCalculated.valueOf() ) / (1000 * 60 * 60 * 24)) %>d,
					<%= Math.floor(Math.floor((new Date().valueOf() - dateCalculated.valueOf() ) % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)) %>h ago
				</small>
			</div>

			<h5 class = "border-bottom">
				Top Items (based on item price and volume)
			</h5>	
			<div id="carouselTopItems" class="carousel slide" data-ride="carousel" data-interval="false">
			  <div class="carousel-inner">
			    <div class="carousel-item active" data-interval="false">
			    	<div class = "container-fluid">
				      <div class = "row justify-content-between">
							<% for (var i = 0; i < 4; i ++) { %>
								<div class = "col-3">
									<a class="btn btn-secondary" style = "font-size: 10px; color: #eeebe4; width: 100%" href = "/item/data/<%=topScore[i].name.split(" ").join("_").toLowerCase()%>">
										<img src = "/images/small/<%=topScore[i].id%>.gif" title = "<%=topScore[i].name%>">
										<%=topScore[i].name%>
									</a>
									<div>price: <%=topScore[i].statdata.currentPrice.price.toLocaleString()%></div>
									<div>volume: <%=topScore[i].statdata.currentVolume.volume.toLocaleString()%></div>
								</div>
							<% } %>
							</div>
						</div>
			    </div>
			    <% for (var i = 4; i < topScore.length; i +=4) { %>
		    		<div class = "carousel-item" data-interval="false">
		    			<div class = "container-fluid">
		    				<div class = "row justify-content-between">
		    					<% for (let p = 0; p < 4; p ++) {%>
		    						<div class = "col-3">
											<a class="btn btn-secondary" style = "font-size: 10px; color: #eeebe4; width: 100%" href = "/item/data/<%=topScore[i + p].name.split(" ").join("_").toLowerCase()%>">
												<img src = "/images/small/<%=topScore[i + p].id%>.gif" title = "<%=topScore[i + p].name%>">
												<%=topScore[i + p].name%>
											</a>
											<div>price: <%=topScore[i + p].statdata.currentPrice.price.toLocaleString()%></div>
											<div>volume: <%=topScore[i + p].statdata.currentVolume.volume.toLocaleString()%></div>
										</div>
		    					<%}%>
		    				</div>
		    			</div>
		    		</div>
					<% } %>
			  </div>
			  <ol class="carousel-indicators">
			    <li data-target="#carouselTopItems" data-slide-to="0" class="active"></li>
			    <% for (var i = 4; i < topScore.length; i +=4) { %>
			    	<li data-target="#carouselTopItems" data-slide-to="<%=i/4%>"></li>
			    <%}%>
			  </ol>
			  <a class="carousel-control-prev" href="#carouselTopItems" role="button" data-slide="prev">
			    <span class="carousel-control-prev-icon rounded" aria-hidden="true" style="background-color:#6c757d"></span>
			    <span class="sr-only">Previous</span>
			  </a>
			  <a class="carousel-control-next" href="#carouselTopItems" role="button" data-slide="next">
			    <span class="carousel-control-next-icon rounded" aria-hidden="true" style="background-color:#6c757d"></span>
			    <span class="sr-only">Next</span>
			  </a>
			</div>


			<h5 class = "border-bottom">
				Top Price Increases
			</h5>	
			<div id="carouselTopPriceIncrease" class="carousel slide" data-ride="carousel" data-interval="false">
			  <div class="carousel-inner">
			    <div class="carousel-item active" data-interval="false">
			    	<div class = "container-fluid">
				      <div class = "row justify-content-between">
							<% for (var i = 0; i < 4; i ++) { %>
								<div class = "col-3">
									<a class="btn btn-secondary" style = "font-size: 10px; color: #eeebe4; width: 100%" href = "/item/data/<%=topPriceIncrease[i].name.split(" ").join("_").toLowerCase()%>">
										<img src = "/images/small/<%=topPriceIncrease[i].id%>.gif" title = "<%=topPriceIncrease[i].name%>">
										<%=topPriceIncrease[i].name%>
									</a>
									<div class = "text-center"> <span style="color:green">+<%=topPriceIncrease[i].statdata.currentPrice.change.toLocaleString()%></span></div>
								</div>
							<% } %>
							</div>
						</div>
			    </div>
			    <% for (var i = 4; i < topPriceIncrease.length; i +=4) { %>
		    		<div class = "carousel-item" data-interval="false">
		    			<div class = "container-fluid">
		    				<div class = "row justify-content-between">
		    					<% for (let p = 0; p < 4; p ++) {%>
		    						<div class = "col-3">
											<a class="btn btn-secondary" style = "font-size: 10px; color: #eeebe4; width: 100%" href = "/item/data/<%=topPriceIncrease[i + p].name.split(" ").join("_").toLowerCase()%>">
												<img src = "/images/small/<%=topPriceIncrease[i + p].id%>.gif" title = "<%=topPriceIncrease[i + p].name%>">
												<%=topPriceIncrease[i + p].name%>
											</a>
											<div class = "text-center"> <span style="color:green">+<%=topPriceIncrease[i].statdata.currentPrice.change.toLocaleString()%></span></div>
										</div>
		    					<%}%>
		    				</div>
		    			</div>
		    		</div>
					<% } %>
			  </div>
			  <ol class="carousel-indicators">
			    <li data-target="#carouselTopPriceIncrease" data-slide-to="0" class="active"></li>
			    <% for (var i = 4; i < topPriceIncrease.length; i +=4) { %>
			    	<li data-target="#carouselTopPriceIncrease" data-slide-to="<%=i/4%>"></li>
			    <%}%>
			  </ol>
			  <a class="carousel-control-prev" href="#carouselTopPriceIncrease" role="button" data-slide="prev">
			    <span class="carousel-control-prev-icon rounded" aria-hidden="true" style="background-color:#6c757d"></span>
			    <span class="sr-only">Previous</span>
			  </a>
			  <a class="carousel-control-next" href="#carouselTopPriceIncrease" role="button" data-slide="next">
			    <span class="carousel-control-next-icon rounded" aria-hidden="true" style="background-color:#6c757d"></span>
			    <span class="sr-only">Next</span>
			  </a>
			</div>


			<h5 class = "border-bottom">
				Top Price Decreases
			</h5>	
			<div id="carouselTopPriceDecrease" class="carousel slide" data-ride="carousel" data-interval="false">
			  <div class="carousel-inner">
			    <div class="carousel-item active" data-interval="false">
			    	<div class = "container-fluid">
				      <div class = "row justify-content-between">
							<% for (var i = 0; i < 4; i ++) { %>
								<div class = "col-3">
									<a class="btn btn-secondary" style = "font-size: 10px; color: #eeebe4; width: 100%" href = "/item/data/<%=topPriceDecrease[i].name.split(" ").join("_").toLowerCase()%>">
										<img src = "/images/small/<%=topPriceDecrease[i].id%>.gif" title = "<%=topPriceDecrease[i].name%>">
										<%=topPriceDecrease[i].name%>
									</a>
									<div class = "text-center"> <span style="color:red">-<%=Math.abs(topPriceDecrease[i].statdata.currentPrice.change).toLocaleString()%></span></div>
								</div>
							<% } %>
							</div>
						</div>
			    </div>
			    <% for (var i = 4; i < topPriceDecrease.length; i +=4) { %>
		    		<div class = "carousel-item" data-interval="false">
		    			<div class = "container-fluid">
		    				<div class = "row justify-content-between">
		    					<% for (let p = 0; p < 4; p ++) {%>
		    						<div class = "col-3">
											<a class="btn btn-secondary" style = "font-size: 10px; color: #eeebe4; width: 100%" href = "/item/data/<%=topPriceDecrease[i + p].name.split(" ").join("_").toLowerCase()%>">
												<img src = "/images/small/<%=topPriceDecrease[i + p].id%>.gif" title = "<%=topPriceDecrease[i + p].name%>">
												<%=topPriceDecrease[i + p].name%>
											</a>
											<div class = "text-center"> <span style="color:red">-<%=Math.abs(topPriceDecrease[i].statdata.currentPrice.change).toLocaleString()%></span></div>
										</div>
		    					<%}%>
		    				</div>
		    			</div>
		    		</div>
					<% } %>
			  </div>
			  <ol class="carousel-indicators">
			    <li data-target="#carouselTopPriceDecrease" data-slide-to="0" class="active"></li>
			    <% for (var i = 4; i < topPriceDecrease.length; i +=4) { %>
			    	<li data-target="#carouselTopPriceDecrease" data-slide-to="<%=i/4%>"></li>
			    <%}%>
			  </ol>
			  <a class="carousel-control-prev" href="#carouselTopPriceDecrease" role="button" data-slide="prev">
			    <span class="carousel-control-prev-icon rounded" aria-hidden="true" style="background-color:#6c757d"></span>
			    <span class="sr-only">Previous</span>
			  </a>
			  <a class="carousel-control-next" href="#carouselTopPriceDecrease" role="button" data-slide="next">
			    <span class="carousel-control-next-icon rounded" aria-hidden="true" style="background-color:#6c757d"></span>
			    <span class="sr-only">Next</span>
			  </a>
			</div>

		
			
		</div>
		<div class = "col-3">
			<% if (user){ %>
				<div class = "invisible">
					invisible
				</div>
				<h5 class = "border-bottom">
					Tracked Items
				</h5>	
				<div id = "investmentContainer">
					<% include ./partials/profits.ejs %>
					<% include ./partials/losses.ejs %>
				</div>
			<% } %>
		</div>
	</div>
</div>

<% include ./partials/footer.ejs %>