<% include ./partials/header.ejs %>

<div class = "container-fluid">
    <div class = "row justify-content-around">
        <div class = "col-8 mt-4" id = "itemdata">
            <div class = "row mt-4">
                <div class = "col-4 px-0">
                    <div class = "container-fluid">
                        <div class = "row">
                            <div class = "col-6 pl-2">
                                <div class="card">
                                    <h6 class="card-header text-center border-bottom border-dark"><%= item.name %></h6>
                                    <img class = "card-img-top" alt= "<%= item.name %>" src= "/images/big/<%=item.id%>.gif">
                                        <div class="card-body">
                                            <p class="card-text border-bottom"><i>"<%=item.description%>"</i></p>
                                            <p class = "border-bottom"> 
                                                Item ID : <%=item.id%>
                                            </p>
                                            <p>
                                                Item Limit: <%=item.limit%>
                                            </p>
                                            <p>
                                                Members: <%=item.members ? "True" : "False"%>
                                            </p>
                                            <p>
                                                <a href="https://oldschool.runescape.wiki/w/Exchange:<%=item.wikiName.split(" ").join("_")%>">Wiki Page</a>
                                            </p>
                                        </div>  
                                </div>
                            </div>
                            <div class = "col-6 px-0">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item label border-0">Current Price / Price Change</li>
                                    <li class="list-group-item">
                                        <%=item.statdata.currentPrice.price != -1 ? item.statdata.currentPrice.price.toLocaleString() : "N/A" %> gp / <%=change != null ? (change >= 0 ? "+" : "") + change.toLocaleString() : ""%>
                                    </li>
                                    <li class="list-group-item label border-0">Avg. Positive / Avg. Negative Price Change</li>
                                    <li class="list-group-item">
                                        <%=(Math.floor(item.statdata.averagePositivePriceChange * 1000) / 1000).toLocaleString()%> / <%=(Math.floor(item.statdata.averageNegativePriceChange * 1000) / 1000).toLocaleString()%>
                                    </li>
                                    <li class="list-group-item label border-0">Min. / Max / Avg. Price</li>
                                    <li class="list-group-item">
                                        <%=item.statdata.minPrice.toLocaleString()%> / <%=item.statdata.maxPrice.toLocaleString()%> / <%=(Math.floor(item.statdata.averagePrice * 1000) / 1000).toLocaleString()%>
                                    </li>
                                    <li class="list-group-item label border-0">Current Volume</li>
                                    <li class="list-group-item"><%=item.statdata.currentVolume.volume.toLocaleString()%></li>
                                    <li class="list-group-item label border-0">Avg. Positive / Avg. Negative / Avg. Neutral Price Trend Duration</li>
                                    <li class="list-group-item"><%=Math.floor(item.statdata.averagePositiveTrendDuration * 1000) / 1000%> / <%=Math.floor(item.statdata.averageNegativeTrendDuration * 1000) / 1000%> / <%=Math.floor(item.statdata.averageNeutralTrendDuration * 1000) / 1000%></li>
                                </ul>
                            </div>
                            <div class = "col-12">
                            </div>
                        </div>
                    </div>
                </div>
                <div class = "col-8">
                    <div class = "container-fluid">
                        <div class = "row justify-content-center mt-2">  
                            <div class = "col-6">
                                <form class = "d-inline" action = "/item/data/<%=item.id%>" method = "POST">
                                    <button type = "submit"> <i class = "fa fa-refresh"> </i> </button>
                                </form>
                                Last Updated: <%= item.lastUpdated.toDateString().substring(3) %>
                            </div>
                            <div class = "col-12">
                                <canvas id= "myChart" width="225" height="100"></canvas>
                            </div>
                            <div class = "col-5">
                                <input id = "daterangeindicator" class = "text-center" type = "text" disabled> 
                            </div>
                        </div>
                        <div class = "row justify-content-between mt-3">
                            <button id = "decrease"> <i class = "fa fa-minus"> </i> </button>
                            <input id = "daterange" type="range" min="1" max="1500" value="1">
                            <button id = "increase"> <i class = "fa fa-plus"> </i> </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div> 


<script>
    var ctx = document.getElementById('myChart');
    var priceData = [
                    <% for (var i = 0; i < priceData.length; i ++) { %>
                            <%= priceData[i].price %>
                            <% if (i !== priceData.length) { %>
                                ,
                            <% } %>
                    <%  }                                            %>
                ];
    var volumeData = [
                    <% var volumeDataIndex = 0 %>
                    <% for (var i = 0; i < priceData.length && volumeDataIndex < volumeData.length; i ++) { %>
                        <% if (volumeData[volumeDataIndex].date.toDateString() === priceData[i].date.toDateString()) { %>
                            <%= volumeData[volumeDataIndex].volume %>
                            <% volumeDataIndex ++; %>
                        <% } else { %>
                            <% null %>
                            <% } %>
                            <% if (i !== priceData.length) { %>
                                ,
                            <% } %>
                    <% } %>                       
                ];
    var labels = [
                <% for (var i = 0; i < priceData.length; i ++) { %>
                            "<%= priceData[i].date.toDateString().substring(4) %>"
                            <% if (i !== priceData.length) { %>
                                ,
                            <% } %>
                    <% }                                            %>
                ];

    let chart = new Chart(ctx, {
        type: 'line',
        data: {
            datasets: [{
                pointBackgroundColor : '#ebe34b',
                pointRadius : 3,
                fill : false,
                label: 'price',
                yAxisID: 'price-axis',
                data: priceData
            },
            {
                pointBackgroundColor : '#81adb5',
                pointRadius : 3,
                fill : false,
                showLine : false,
                label: 'volume',
                yAxisID: 'volume-axis',
                data: volumeData
            }],
            labels : labels
        },

        options: {
            tooltips: {
              mode: 'x-axis'
            },
            scales: {
                yAxes: [{
                    id: 'price-axis',
                    type: 'linear',
                    position: 'left',
                    scaleLabel: {
                        labelString : "price",
                        display : true
                    },
                }, 
                {
                    id: 'volume-axis',
                    type: 'linear',
                    position: 'right',
                    scaleLabel: {
                        labelString : "volume",
                        display : true
                    },
                }],
                xAxes: [{
                    ticks: {
                        maxTicksLimit : 12,
                        callback: function(value, index, values) {
                            return value;
                        }
                    }

                }]
            },
            legend : {
            	display: false
            },
        }
    });

    var range = $("#daterange");
    var rangeindicator = $("#daterangeindicator");
    var leftIndex = (range[0].value / range[0].max) * priceData.length;
    var rightIndex = priceData.length;


    $("#increase").click(function ()
    {
        range.val(parseInt(range[0].value) + 4);
        range.trigger("change");
    });

    $("#decrease").click(function ()
    {
        range.val(parseInt(range[0].value) - 4);
        range.trigger("change");
    });

    range.change(function()
    {
        leftIndex = Math.floor((range[0].value / range[0].max) * priceData.length);

        chart.data.datasets[0].data = priceData.slice(leftIndex, rightIndex);
        chart.data.datasets[1].data = volumeData.slice(leftIndex, rightIndex);
        chart.data.labels = labels.slice(leftIndex, rightIndex);
        chart.update(0);

        rangeindicator.val(labels[leftIndex] + " - " + labels[labels.length - 1]);
    });

    range.val(1400);
    range.trigger("change");


</script>













<% include ./partials/footer.ejs %>