<% include ./partials/header.ejs %>


<div class = "container-fluid">
    <div class = "row">
        <div class = "col-3" id = "optionContainer"> 
            
        </div>
        <div class = "col-6" id = "mainContainer">
            <div class = "text-right">
                <small class="text-muted">
                    last updated:
                    <%= Math.floor((new Date().valueOf() - item.lastUpdated.valueOf() ) / (1000 * 60 * 60 * 24)) %>d,
                    <%= Math.floor(Math.floor((new Date().valueOf() - item.lastUpdated.valueOf() ) % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)) %>h ago
                    <form class = "d-inline" action = "/item/data/<%=item.id%>" method = "POST">
                        <button type = "submit" class="btn btn-outline-dark btn-sm"> <i class = "fa fa-refresh"> </i> </button>
                    </form>
                </small>
            </div>
            <h5 class = "border-bottom">
                <%=item.name%>
            </h5>   
            <div>
                <div style="float: left;">
                <img class = "border rounded-circle" alt= "<%= item.name %>" src= "/images/big/<%=item.id%>.gif">
                </div>
                <div class = "container-fluid pl-5">
                    <div class = "row pl-4">
                        <div class = "col-12">
                            <small class = "text-muted"><i>"<%=item.description%>"</i></small>
                        </div>
                        <div class = "col-4">
                            <span class = "font-weight-bold border-bottom">Item ID</span>
                            <p><%=item.id%></p>
                        </div>
                        <div class = "col-4">
                            <span class = "font-weight-bold border-bottom">Item Limit</span>
                            <p><%=item.limit%></p>
                        </div>
                        <div class = "col-4">
                            <span class = "font-weight-bold border-bottom">Free-to-play</span>
                            <p><%=!item.members%></p>
                        </div>
                    </div>
                    <div class = "row pl-4">
                        <div class = "col-4">
                            <span class = "font-weight-bold border-bottom">Current Price</span>
                            <p>
                                <%=item.statdata.currentPrice.price != -1 ? item.statdata.currentPrice.price.toLocaleString() : "N/A" %> <%=change != null ? (change >= 0 ? "(+" : "(") + change.toLocaleString() + ")" : ""%> 
                            </p>
                        </div>
                        <div class = "col-4">
                            <span class = "font-weight-bold border-bottom">Min. / Max Price</span>
                            <p>
                                <%=item.statdata.minPrice.toLocaleString()%> / <%=item.statdata.maxPrice.toLocaleString()%>
                            </p>
                        </div>
                        <div class = "col-4">
                            <span class = "font-weight-bold border-bottom">Avg. Price Change</span>
                            <p>
                                +<%=(Math.floor(item.statdata.averagePositivePriceChange * 1000) / 1000).toLocaleString()%> / <%=(Math.floor(item.statdata.averageNegativePriceChange * 1000) / 1000).toLocaleString()%>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class = "container-fluid">
                <div class = "row justify-content-center mt-2">  
                    <div class = "col-12">
                        <canvas id= "myChart" width="225" height="100"></canvas>
                    </div>
                    <div class = "col-5">
                        <small class = "text-muted">
                        <input id = "daterangeindicator" class = "text-center" type = "text" disabled> 
                    </small>
                    </div>
                </div>
                <div class = "row justify-content-between mt-3">
                    <button id = "decrease" class = "btn-outline-dark btn-sm btn"> <i class = "fa fa-angle-left"> </i> </button>
                    <input id = "daterange" type="range" min="1" max="1500" value="1">
                    <button id = "increase" class = "btn-outline-dark btn-sm btn"> <i class = "fa fa-angle-right"> </i> </button>
                </div>
            </div>
            <div class = "text-center">
                <small class = "text-muted">
                    <a href="https://oldschool.runescape.wiki/w/Exchange:<%=item.name[0].toUpperCase() + item.name.split(" ").join("_").toLowerCase().substring(1)%>">OSRS Wiki Page</a>
                </small>
            </div>
            <div class= "text-center">
                <small class = "text-muted">
                    <a href="https://secure.runescape.com/m=itemdb_oldschool/<%=item.name[0].toUpperCase() + item.name.split(" ").join("+").toLowerCase().substring(1)%>/viewitem?obj=<%=item.id%>">Offical OSRS GE Page</a>
                </small>
            </div>
        </div> 
            

        
            
        <div class = "col-3">
            <% if (user){ %>
                <div class = "invisible">
                    invisible
                </div>
                <h5 class = "border-bottom">
                    Tracked Items
                </h5>   
                <div id = "investmentContainer">
                    <% include ./partials/profits.ejs %>
                    <% include ./partials/losses.ejs %>
                </div>
            <% } %>
        </div>
    </div>
</div>



<script>
    var ctx = document.getElementById('myChart');
    var priceData = [
                    <% for (var i = 0; i < priceData.length; i ++) { %>
                            <%= priceData[i].price %>
                            <% if (i !== priceData.length) { %>
                                ,
                            <% } %>
                    <%  }                                            %>
                ];
    var volumeData = [
                    <% var volumeDataIndex = 0 %>
                    <% for (var i = 0; i < priceData.length && volumeDataIndex < volumeData.length; i ++) { %>
                        <% if (volumeData[volumeDataIndex].date.toDateString() === priceData[i].date.toDateString()) { %>
                            <%= volumeData[volumeDataIndex].volume %>
                            <% volumeDataIndex ++; %>
                        <% } else { %>
                            <% null %>
                            <% } %>
                            <% if (i !== priceData.length) { %>
                                ,
                            <% } %>
                    <% } %>                       
                ];
    var labels = [
                <% for (var i = 0; i < priceData.length; i ++) { %>
                            "<%= priceData[i].date.toDateString().substring(4) %>"
                            <% if (i !== priceData.length) { %>
                                ,
                            <% } %>
                    <% }                                            %>
                ];

    let chart = new Chart(ctx, {
        type: 'line',
        data: {
            datasets: [{
                pointBackgroundColor : '#ebe34b',
                pointRadius : 3,
                fill : false,
                label: 'price',
                yAxisID: 'price-axis',
                data: priceData
            },
            {
                pointBackgroundColor : '#81adb5',
                pointRadius : 3,
                fill : false,
                showLine : false,
                label: 'volume',
                yAxisID: 'volume-axis',
                data: volumeData
            }],
            labels : labels
        },

        options: {
            tooltips: {
              mode: 'x-axis'
            },
            scales: {
                yAxes: [{
                    id: 'price-axis',
                    type: 'linear',
                    position: 'left',
                    scaleLabel: {
                        labelString : "price",
                        display : true
                    },
                }, 
                {
                    id: 'volume-axis',
                    type: 'linear',
                    position: 'right',
                    scaleLabel: {
                        labelString : "volume",
                        display : true
                    },
                }],
                xAxes: [{
                    ticks: {
                        maxTicksLimit : 12,
                        callback: function(value, index, values) {
                            return value;
                        }
                    }

                }]
            },
            legend : {
            	display: false
            },
        }
    });

    var range = $("#daterange");
    var rangeindicator = $("#daterangeindicator");
    var leftIndex = (range[0].value / range[0].max) * priceData.length;
    var rightIndex = priceData.length;


    $("#increase").click(function ()
    {
        range.val(parseInt(range[0].value) + 4);
        range.trigger("change");
    });

    $("#decrease").click(function ()
    {
        range.val(parseInt(range[0].value) - 4);
        range.trigger("change");
    });

    range.change(function()
    {
        leftIndex = Math.floor((range[0].value / range[0].max) * priceData.length);

        chart.data.datasets[0].data = priceData.slice(leftIndex, rightIndex);
        chart.data.datasets[1].data = volumeData.slice(leftIndex, rightIndex);
        chart.data.labels = labels.slice(leftIndex, rightIndex);
        chart.update(0);

        rangeindicator.val(labels[leftIndex] + " - " + labels[labels.length - 1]);
    });

    range.val(1400);
    range.trigger("change");


</script>


<% include ./partials/footer.ejs %>