<% include ./partials/header.ejs %>


<div class = "container-fluid">
    <div class = "row justify-content-around">
        <% include ./partials/profits.ejs %>
        <div class = "col-8 mt-4" id = "sorted">
            <h1 class = "text-center"> sorted results </h1>
        	<table class="table table-bordered table-striped table-sm">
        		<tr>
        		    <th></th>
                    <!-- <th>ID</th> 
                    <th>ITEM LIMIT</th>  -->
                    <th>Current Price</th>
                    <th>Current Volume</th>
                    <th>Current Price Trend</th>
                    <!-- <th>CURRENT TREND DURATION</th>
                    <th>MEMBERS ONLY</th> -->
                    <% if (progressbars) { %>
                        <th>Item Score</th>
                    <% } %>
        		</tr>
                <% for(var i=0; i < items.length; i++) { %>
                    <tr class = "item d-none">
                        <td> 
                            <% if (user) { %>
                                <button class = "additem" 
                                data-item-name = "<%= items[i].name %>" 
                                data-item-name-lower = "<%= items[i].name_lower %>" 
                                data-item-price = "<%= items[i].statdata.currentPrice.price %>"
                                data-item-updated = "<%= items[i].lastUpdated.valueOf() %>"
                                data-item-id = "<%= items[i].id %>">
                                    <i class = "fa fa-plus"> </i> 
                                </button>
                            <% } %>
                            <a href = "/item/data/<%= items[i].name_lower %>"><%= items[i].name %> </a> 
                            <img src = "/images/small/<%=items[i].id%>.gif">
                         </td>
                        <!-- <td> <%= items[i].id %> </td>
                        <td> <%= items[i].limit %> </td> -->
                        <td> <%= items[i].statdata.currentPrice.price.toLocaleString() %> </td>
                        <td> <%= items[i].statdata.currentVolume.volume.toLocaleString() %> </td>
                        <td> <%= items[i].statdata.currentTrend%> </td>
                        <!-- <td> <%= items[i].statdata.currentTrendDuration%> </td>
                        <td> <%= items[i].members %> </td> -->
                        <% if (progressbars) { %>
                            <td>
                                 <div class="progress">
                                <%  for (var q = 0; q < progressbars.length; q ++) { %>
                                  <div class="progress-bar" role="progressbar" 
                                  style="width:<%=progressbars[q].percentages[i]%>%; background-color:<%=progressbars[q].color%>">
                                    <%=Math.floor(progressbars[q].scores[i] * 1000) / 1000%>
                                  </div>
                                <% } %>
                                </div>
                            </td>
                        <% } %>
                    </tr>
                <% } %>
            </table>
            <% if (items.length > 0) { %>
                <div class = "d-flex justify-content-center">
                    <div>
                        <button class = "btn btn-outline-primary mr-5" id = "first"> 1 </button>
                        <button class = "btn btn-outline-primary" id = "prevRow"> << </button>
                        <button class = "btn btn-outline-primary" id = "prev"> < </button>
                        <% for(var i = 1; i <= Math.ceil((items.length) / 10); i++) { %>
                        <a class = "btn btn-outline-primary d-none" href = "#<%=i%>"><%=i%> </a>
                        <% } %>
                        <button class = "btn btn-outline-primary" id = "next"> > </button>
                        <button class = "btn btn-outline-primary" id = "nextRow"> >> </button>
                        <button class = "btn btn-outline-primary ml-5" id = "last"> <%=Math.ceil((items.length) / 10)%> </button>
                    </div>
                </div>
            <% } %>
        </div>
        <% include ./partials/losses.ejs %>
    </div>
</div>




<script>
//for adding investments
    $(".additem").click(function()
    {
        var itemName = $(this).data().itemName;
        var itemNameLower = $(this).data().itemNameLower;
        var itemPrice = $(this).data().itemPrice;
        var lastUpdated = $(this).data().itemUpdated;
        var itemId = $(this).data().itemId;
        
        var form = $(
                    "<div class = 'container itemtab'>" +
                        "<form method = 'POST' action = '/item/add/" + itemId + "/" + window.location.href.split("/").join("_").split("?").join("-") + "'>" +
                            "<h1>" + itemName + " (" + itemPrice + "gp each)</h1>" +
                            "<h3> quantity </h3>" +
                            "<input name = 'quantity' type = 'number' min = 1 required>" +
                            "<h3> price per item</h3>" +
                            "<input name = 'pricePerItem' type = 'number' value = '" + itemPrice + "' min = 1 required>" +
                            "<h3> Total Price </h3>" +
                            "<span id = 'totalPrice'> 0 gp </span>" +
                            "<input class = 'd-block' type = 'submit'>" +
                            "<input class = 'd-none' name = 'lastUpdated' value = '" + lastUpdated + "''>" +
                            "<input class = 'd-none' name = 'itemPrice' value = '" + itemPrice + "''>" +
                        "</form>" +
                    "</div>"
                    ).appendTo($("body"));

        $(".itemtab input").on("input", function()
        {
            let ppi = parseInt($("input[name='pricePerItem']")[0].value);
            let qty = parseInt($("input[name='quantity']")[0].value);
            if (ppi > 0 && qty > 0)
            {
                $("#totalPrice").text((ppi * qty) + " gp");
            }
        });

        form.focusout(function (event)
        {
            var form = $(this);
            setTimeout(function () {
                if (form.find(':focus').length === 0)
                {
                    form.remove();
                }
            }); 
        });

        $("input[name='quantity']").focus();
    });

</script>



<script>
    //for pagination
    function checkHash (hash) //true if hash not a viable number
    {
        if (hash.length === 0 || hash.length === 1 || isNaN(parseInt(hash.substring(1, hash.length))) )
        {
            return true;
        }
        else
        {
            return false;
        }
    }
    function toggleItems (hash, numItems)
    {
        for (var i = (hash - 1) * numItems; i < hash * numItems; i ++)
        {
            $(".item:eq(" + i + ")").toggleClass("d-none");
        }
    }
    //toggles row of pagination buttons based on hash
    function togglePagination(hash)
    {
        var currentRow = Math.floor(hash / 5) + ((hash % 5) > 0 ? 1 : 0);
        for (var i = (currentRow * 5) - 4; i < (currentRow * 5) + 1; i ++)
        {
            $("a[href=\"#"+ (i) +"\"]").toggleClass("d-none");
        }
    }

    var numItemsShowed = 10;
    var numPages = Math.ceil($(".item").length / numItemsShowed);

    //sanitize hash
    var hash = checkHash(window.location.hash) ? 1 : parseInt(window.location.hash.substring(1, window.location.hash.length));
        hash = hash <= 0 || hash > numPages ? 1 : hash; 
    toggleItems(hash, numItemsShowed);
    togglePagination(hash);

    window.onhashchange = function ()
    {
        toggleItems(hash, numItemsShowed);
        togglePagination(hash);
        hash =  checkHash(window.location.hash) ? 1 : parseInt(window.location.hash.substring(1, window.location.hash.length));
        hash = hash <= 0 || hash > numPages ? 1 : hash; 
        toggleItems(hash, numItemsShowed);
        togglePagination(hash);
        $("a[href=\"#"+ (hash) +"\"]").focus();
    }


    $("#next").click(function ()
    {
        if (hash < numPages)
        {
            window.location.hash = hash + 1;  
        }
    });

    $("#prev").click(function ()
    {
        if (hash > 1)
        {
          window.location.hash = hash - 1;  
        }
    });

    $("#nextRow").click(function ()
    {
        var currentRow = Math.floor(hash / 5) + ((hash % 5) > 0 ? 1 : 0);
        if (currentRow  < Math.ceil(numPages / 5))
        {
            window.location.hash = (currentRow * 5) + 1;
        }

    });

    $("#prevRow").click(function ()
    {
        var currentRow = Math.floor(hash / 5) + ((hash % 5) > 0 ? 1 : 0);
        if (currentRow  > 1)
        {
            window.location.hash = ((currentRow - 1)  * 5) - 4;
        }
       
    });

    $("#first").click(function ()
    {
         window.location.hash = 1;
       
    });

    $("#last").click(function ()
    {
        window.location.hash = numPages;
       
    }); 
</script>






<% include ./partials/footer.ejs %>